*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  background-color: #add8e6;
  font-weight: bold;
  margin: 10px;
}

.nametext {
  display: none;
}

.body:has(.sampic:hover) .nametext {
  color: #657a81;
  display: block;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-right: 2px;
  border-right: 2px solid #add8e6;
  white-space: nowrap;
  animation: typing steps(35) 2s 1, blink 1s infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 190px;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.sampic {
  border-radius: 25px;
  border: 5px solid #657a81;
  justify-content: center;
  width: 305px;
  height: 390px;
  margin: auto;
  transition-duration: 0.5s;
}

.sampic:hover {
  border: 10px solid #98acb3;
}

/*  buttons */
.buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  font-weight: bold;
}
.b1 {
  border-radius: 3px;
  width: 80px;
  height: 23px;
  transition-duration: 0.5s;
  border: none;
  color: #657a81;
  background-color: #add8e6;
  border-bottom: 5px solid #657a81;
}

.b1:hover {
  visibility: hidden;
  width: 100px;
  background-color: #db5d5d;
  color: black;
  border-bottom: 5px solid #db5d5d;
}

.b2 {
  border-radius: 3px;
  width: 80px;
  height: 23px;
  transition-duration: 0.5s;
  border: none;
  background-color: #add8e6;
  border-bottom: 5px solid #657a81;
  color: #657a81;
}

.b2:hover {
  width: 100px;
  background-color: #93b0b9;
  color: #add8e6;
}

/*  buttons */

.socials {
  display: flex;
  flex-direction: row !important;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  gap: 30px;
  border: hidden;
}
.insta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.epic {
  margin-bottom: 1px;
  margin-left: 2px;
}
