@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Raleway&family=Roboto+Mono:ital,wght@0,500;1,500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #add8e6;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  margin-top: 10%;
  visibility: visible;
}

.checker {
  margin-top: 5px;
}

.login {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  padding: 20px;
  width: 20%;
  height: 250px;
}

.password {
  margin-top: 0%;
}

.submit {
  padding: 2px;
  margin-left: 46.3%;
  border-radius: 3px;
  color: black;
  background-color: #add8e6;
  font-family: "kanit", sans-serif;
  visibility: hidden;
  width: 100px;
  height: 70px;
}

.user {
  margin-top: 0px;
  padding: 2px;
  border-radius: 3px;
  color: black;
  background-color: #add8e6;
  font-family: "kanit", sans-serif;
}

.usertext {
  margin-top: 0%;
}

.pass {
  margin-top: 0%;
  padding: 2px;
  border-radius: 3px;
  color: black;
  background-color: #add8e6;
  font-family: "kanit", sans-serif;
}
