@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Raleway&family=Roboto+Mono:ital,wght@0,500;1,500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  background-color: #add8e6;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  color: #373f41;
  font-family: "Kanit", sans-serif;
}

/*  buttons */
.buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  font-weight: bold;
  gap: 400px;
}
.b1 {
  border-radius: 3px;
  width: 80px;
  height: 23px;
  transition-duration: 0.5s;
  border: none;
  color: #657a81;
  background-color: #add8e6;
  border-bottom: 5px solid #657a81;
}

.b1:hover {
  width: 100px;
  background-color: #93b0b9;
  color: #add8e6;
}

.b2 {
  border-radius: 3px;
  width: 80px;
  height: 23px;
  transition-duration: 0.5s;
  border: none;
  background-color: #add8e6;
  border-bottom: 5px solid #657a81;
  color: #657a81;
}

.b2:hover {
  width: 100px;
  background-color: #db5d5d;
  color: black;
  border-bottom: 5px solid #db5d5d;
}

.gohome {
  width: 80px;
  height: 23px;
}

.b3 {
  border-radius: 3px;
  width: 80px;
  height: 23px;
  transition-duration: 0.5s;
  border: none;
  background-color: #add8e6;
  border-bottom: 5px solid #657a81;
  color: #657a81;
}

.b3:hover {
  width: 100px;
  background-color: #93b0b9;
  color: #add8e6;
}

.textwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text1 {
  height: fit-content;
  width: fit-content;
  border-radius: 25px;
  padding: 10px;
  border: 5px solid #add8e6;
  background-color: add8e6;
  transition-duration: 0.5s;
}
.text1:hover {
  border: 10px solid #657a81;
}

.text2 {
  height: fit-content;
  width: fit-content;
  border-radius: 25px;
  padding: 10px;
  border: 5px solid #657a81;
  background-color: white;
  transition-duration: 0.5s;
}
.text2:hover {
  border: 10px solid #db5d5d;
}
